.pathDraw path {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: draw 1.5s ease-in forwards;
}

.pathDraw {
  filter: brightness(90%);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
